.showcase {
	background-image: url("../img/showcase.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	// .showcase__content

	&__content {
		color: $white-color;
		text-align: center;
		padding-top: 170px;
	}

	// .showcase__title

	&__title {
		font-size: 60px;
		line-height: 1.2em;
	}

	// .showcase__descr

	&__descr {
		font-size: 20px;
		padding-bottom: 20px;
		line-height: 1.7em;
	}

	// .showcase__btn

	&__btn {
	}
}
